* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

:root {
    --celeste: #00B3F0;
    --rosa: #EE3D96;
    --violeta: #5C2D91;
    --blanco: #FFFFFF;
    --negro: #333333;
    --gris: #9D9FA2;
    --grisopacidad: #9d9fa2a1;
    --grisclaro: #ddd;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.contenedor-panel{
    width:75%;
    margin: auto;
   }

.contenedor-productos {
    width: 75%;
    margin: auto;
    display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-top:3%;
}

.listado-productos{
    width:350px;
    height: auto;
}

.listado-productos img{
    width: 100%;
}