
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;    
}


a {
    text-decoration: none;
}

:root {
    --celeste: #00B3F0;
    --rosa: #EE3D96;
    --violeta: #5C2D91;
    --blanco: #FFFFFF;
    --negro: #333333;
    --gris: #9D9FA2;
    --grisclaro: #ddd;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/*
--------------------------------------------
ABRE NAVBAR
-------------------------------------------
*/
header {
    position: sticky;
    top: 0;
    background-color: var(--blanco);
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1%;
    box-shadow: 0 1px 5px 0px var(--gris);
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}


.logo {
    display: inline-block;
}


nav {
    height: 100%;
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}


.nav-lista {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}


.nav-lista a {
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 15px;
    text-decoration: none;
    display: block;
    color: var(--negro);
    position: relative;
    font-size: 16px;
}


.nav-lista li::before {
    content: "";
    display: block;
    width: 23px;
    transform-origin: left;
    transform: scale(1);
    height: 23px;
    background-color: var(--celeste);
    border-radius: 50%;
    position: absolute;
}


.nav-lista li:hover::before {
    animation-name: agrandar;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


@keyframes agrandar {
    0% {
        transform: scale(1);
        background-color: var(--celeste);
    }

    50% {
        transform: scale(2);
        background-color: var(--rosa);
    }

    100% {
        transform: scale(1);
        background-color: var(--rosa);
    }
}

/*
-----------------------------------------------------------------
QUERIES NAV
-----------------------------------------------------------------
*/

 @media (max-width: 1200px) {
    .nav-lista {
        width: 85%;
    }
}


@media (max-width: 1024px) {
    .nav-lista {
        width: 85%;
    }
}


@media (max-width: 768px) {
    header {
        height: 15vh;
    }

    .hamburguesa {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 30%;
        transform: translate(-50%, 0);
        z-index: 1;
    }

    .lineah {
        width: 30px;
        height: 3px;
        background: var(--violeta);
        margin: 5px;
    }

    nav li {
        position: relative;
    }

    .nav-lista a {
        color: var(--blanco);
    }

    .nav-lista {
        background: var(--rosa);
        height: 100vh;
        width: 75%;
        flex-direction: column;
        clip-path: circle(0px at top right);
        /* clip-path: circle(1000px at 100px 0px);  */
        transition: all 1s ease-out;
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: 0px 0px 5px 0px var(--gris);
    }

    .nav-lista.open {
        clip-path: circle(1500px at top right);
    }

    .nav-lista li::before {
        display: none;
    }

    .nav-lista li a:hover {
        color: var(--violeta);
    }

    nav img {
        width: 100%;
    }

    nav .logo {
        width: 60px;
        min-height: 51px;
        padding-top: 6px;
    }

}


@media (max-width:480px){
    header {
        height: 15vh;
    }
}

@media (max-width:425px){
    header {
        height: 13vh;
    }
}


@media (max-width: 375px) {
    .nav-lista {
        padding-top: 12%;
    }

    header {
        height: 13vh;
    }
}

@media (max-width:320px){
    header {
        height: 12vh;
    }
}

/*
--------------------------------------------
CIERRA NAVBAR
-------------------------------------------
*/


/*
----------------------------------------------------------
GALERIA
-----------------------------------------------------------
*/

.contenedor-galeria-tienda {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
}

.cuadrado-galeria-tienda div a .foto2 {
    display: none;
}

.cuadrado-galeria-tienda div a:hover .foto2 {
    display: inline-block;
}

.cuadrado-galeria-tienda div a:hover .foto1 {
    display: none;
}


.cuadrado-galeria-foto {
    width: 441.8px;
    height: 294.4px;
    overflow: hidden;
}

.cuadrado-galeria-foto img {
    width: 100%;
}

.titulo-galeria-tienda {
    color: var(--rosa);
    font-weight: 700;
    margin-top: 0.7%;
    font-size: 18px;
    border-bottom: 1px solid var(--rosa);
    padding-bottom: 0.5%;
    text-transform: uppercase;
}

.descripcion-galeria-tienda {
    font-size: 16px;
    font-weight: 300;
    padding-top: 1%;
    color: var(--negro);
}

.pie-galeria-tienda {
    display: flex;
    padding-top: 2%;
}

.pie-galeria-tienda .precio {
    width: 75%;
    text-align: right;
    font-size: 22px;
    color: var(--rosa);
    font-weight: 700;
    padding-top: 1.5%;
}

.boton-comprar {
    width: 40%;
    background-color: var(--celeste);
    border: none;
    padding: 2%;
    font-size: 18px;
}

.boton-comprar a {
    color:var(--blanco);
}

.boton-comprar:hover {
    color: var(--celeste);
    background-color: var(--blanco);
    /* border: 1px solid var(--celeste); */
    box-shadow: 0px 0px 0px 1px var(--celeste);   
}


.boton-comprar:hover a{
    color: var(--celeste);
}

.pie-galeria-tienda{
    margin-top:2%;
    padding: 1px;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

.inicio-nuestros-trabajos {
    margin: auto;
    width: 85%;
    margin-top: 2%;
}

.titulo-inicio {
    color: var(--celeste);
    font-size: 100px;
    font-weight: 900;
    line-height: 90px;
}

.bajada-inicio {
    font-size: 20px;
    margin-top: 0.5%;
}

#botonera-galeria {
    margin: auto;
    margin-top: 50px;
    width: 85%;
}

.boton-seleccionado-galeria {
    background-color: var(--rosa);
    color: white;
    width: 7%;
    height: 40px;
    margin-right: 6px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.boton-seleccionado-galeria:hover {
    background-color: var(--blanco);
    color: var(--rosa);
    border: 2px solid var(--rosa);
    cursor: pointer;

}

.contenedor-galeria {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
}

.boton {
    border: 2px solid var(--grisclaro);
    padding: 10px 16px;
    margin-right: 6px;
    cursor: pointer;
    margin-right: 4px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: var(--grisclaro);
}

.boton:hover {
    background-color: var(--blanco);
    border: 2px solid var(--gris);
}


.filtro {
    overflow: hidden;
    float: left;
    /* background-color: var(--rosa); */
    color: #ffffff;
    display: none;
    position: relative;
    height: 100%;
}

.filtro:hover .titulo-imagen-galeria {
    transform: translateX(0);
}


.mostrar {
    display: block;
}

/*
------------------------------------------
QUERIES GALERIA
-------------------------------------------
*/

@media (max-width: 1200px) {
    .boton {
        margin-bottom: 1%;
    }
    .boton-seleccionado-galeria {
        width: 9%;
    }

    .pie-galeria-tienda button {
        width: 38%;
    }
}

@media (max-width: 1024px) {
    .boton {
        margin-bottom: 1%;
        padding: 7px 11px;
    }

    .boton-seleccionado-galeria {
        width: 10%;
    }
}

@media (max-width: 768px) {
    .titulo-inicio{
        font-size: 90px;
        line-height: 90px;
    }

    .boton {
        margin-bottom: 1.5%;
        font-size: 12.5px;

       }

    .boton-seleccionado-galeria {
        width: 15%;
        height:39px;
        font-size: 12px;
    }


    .contenedor-galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .titulo-inicio {
      
        font-size: 57px;
        line-height: 57px;
    }
    
    .bajada-inicio {
        margin-top: 2%;
    }

    #botonera-galeria {
        margin: auto;
        margin-top: 40px;
        width: 85%;
    }

    .boton {
        font-size: 13px;
        padding: 5px 9px;
    }

    .boton-seleccionado-galeria {
        width: 20%;
        height: 30px;
        font-size: 13px;
        letter-spacing: 1px;
        margin-right: 4px;
    }
    .contenedor-galeria {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media (max-width: 425px){

    .titulo-inicio {
        font-size: 50px;
        line-height: 50px;
        margin-top:4%;
    }

    .bajada-inicio{
        margin-top: 1%;
    }

    #botonera-galeria{
        display: none;
    }
}

@media (max-width: 375px) {
    .titulo-inicio {
        font-size: 44px;
        line-height: 44px;
    }
}

@media (max-width: 320px) {
    .titulo-inicio {
        font-size: 38px;
        line-height: 38px;
        margin-top:4%;
    }

    .bajada-inicio{
        font-size: 17px;
    }
    
}

/*
----------------------------------------------------------
FIN GALERIA
-----------------------------------------------------------
*/



/*
//////////////////////////////////////////////////////
COMIENZA FOOTER
//////////////////////////////////////////////////////
*/


footer {
    width: 100%;
    background-color: var(--negro);
    height: 60px;
    color: var(--blanco);
    margin-top: 2%;
}

.contenedor-footer {
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    height: 60px;
}


.footer-1 {
    width: 50%;
    font-size: 12px;
    padding-left: 1%;
}

.footer-1 p {
    font-size: 13px;
}

.footer-2 {
    width: 50%;
    text-align: right;
}

.footer-2 p {
    font-size: 13px;
}


/*
------------------------------------------
QUERIES FOOTER
-------------------------------------------
*/

@media (max-width: 480px) {

    .footer-1 {
        padding-left: 3%;
    }

    .footer-1 p {
        font-size: 10px;
    }

    .footer-2 p {
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    .contenedor-footer {
        width: 90%;
    }

@media (max-width: 320px) {
    .footer-1 p {
        font-size: 8px;
    }

}


/*
//////////////////////////////////////////////////////
FIN FOOTER
//////////////////////////////////////////////////////
*/